registry=https://registry.npmmirror.com
# true 时创建一个扁平的 node_modules 结构，类似于由 npm 或 yarn 创建的结构，不建议这样做，因为避免这种结构是 pnpm 的 node_modules 结构主要目的
shamefully-hoist=false
node-linker=hoisted
# 默认情况下， pnpm 不会任意运行用户定义的 pre 和 post 钩子脚本（例如 prestart），改为 true 会执行
enable-pre-post-scripts=true
# install peer dependencies automatically
auto-install-peers=true
# ERR_PNPM_PEER_DEP_ISSUES  Unmet peer dependencies
strict-peer-dependencies=false
